<div class="row">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="card-title">
          <h3>
            Editar Empresa
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="editarAreaForm" (ngSubmit)="guardarArea()">
          <div class="mb-3">
            <div class="mb-3">
              <label for="" class="form-label">Nombre de Area </label>
              <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej: Grupo Armas"
                    aria-describedby="helpId"
                    formControlName="nombre"

                >
                <small id="" class="text-muted" >minimo 10 carcateres, maximo 30</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Descripcion</label>
              <input
                    type=""
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej:La Empresa Ejemplo se encarga de realizar..."
                    aria-describedby="helpId"
                    formControlName="descripcion"

                >
                <small id="" class="text-muted" >Ingrese una descripción breve, max 30 caracteres</small>
            </div>


          </div>
           <div *ngIf="editarAreaForm.invalid"  class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido, min. 5 caracteres, máx. 30 caracteres</p>
            <p *ngIf="campoNoValido('descripcion')" class="text-danger">descripción invalida, min. 5 caracteres, máx. 30 caracteres</p>

          </div>
          <div class="d-grid gap-2">
            <button type="submit" name="" id="" class="btn btn-primary">Guardar Cambios</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
