<div class="row animate__animated animate__fadeIn">
  <div class="col-12 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Registro de departamento
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="registerDepartamentoForm" (ngSubmit)="createDepartamentoArea()">
          <div class="mb-3">


            <div class="mb-3">
              <label for="" class="form-label">Id del departamento</label>
              <input  type="text" name="" id="" class="form-control" placeholder="Ej: SIS-1"
                aria-describedby="helpId" formControlName="id" (keydown.space)="$event.preventDefault();">
              <small id="" class="text-muted">mínimo: 5 caracteres, máximo: 8, no espacios</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Nombre departamento</label>
              <input type="text" name="" id="nombre" class="form-control" placeholder="Ej: Sistemas" aria-describedby="helpId"
                formControlName="nombre">
              <small id="" class="text-muted">minimo 5 carcateres, maximo 30</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Descripción</label>
              <input type="text" name="" id="" class="form-control"
                placeholder="Empresa encargada de la realizacion de..." aria-describedby="helpId"
                formControlName="descripcion">
              <small id="" class="text-muted">Ingrese una breve descripcion del departamento</small>
            </div>




          </div>
          <div *ngIf="registerDepartamentoForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('id')" class="text-danger">id invalido - el id debe de ser de min. 5 digitos, max
              8 digitos</p>
            <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido</p>
            <p *ngIf="campoNoValido('descripcion')" class="text-danger">descripcion invalida</p>
            <p *ngIf="campoNoValido('empresaId')" class="text-danger">empresaId invalida</p>
          </div>
          <div class="d-grid gap-2">
            <button [disabled]="registerDepartamentoForm.invalid" type="submit"  name="" id="" class="btn btn-primary">Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
