<div class="row">
  <div class="col-12 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Registro de empresas
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="registerAreaForm" (ngSubmit)="createArea()">
          <div class="mb-3">

            <div class="mb-3">

                <label for="" class="form-label">Seleccione empresa del area</label>

                <select class="form-select" name="" id="" formControlName="empresaId">
                  <option disabled [selected]="true" value="">Seleccione la empresa</option>
                  <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nombre}}</option>
                </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Id del area</label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej: RRHH"
                aria-describedby="helpId" formControlName="id" (keydown.space)="$event.preventDefault();">
              <small id="" class="text-muted">minimo: 5 caracteres, maximo: 20, no espacios</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Nombre Area</label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej: Recursos Humanos" aria-describedby="helpId"
                formControlName="nombre">
              <small id="" class="text-muted">minimo 5 carcateres, maximo 30</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Descripción </label>
              <input type="text" name="" id="" class="form-control"
                placeholder="Empresa encargada de la realizacion de..." aria-describedby="helpId"
                formControlName="descripcion">
              <small id="" class="text-muted">Ingrese una breve descripcion de la empresa</small>
            </div>




          </div>
          <div *ngIf="registerAreaForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('id')" class="text-danger">Id invalido - el id debe de ser de min. 5 caracteres, max.
              8 caracteres</p>
            <p *ngIf="campoNoValido('nombre')" class="text-danger">Nombre invalido - el nombre debe de ser de min. 5 caracteres, max.
              30 caracteres</p>
            <p *ngIf="campoNoValido('descripcion')" class="text-danger">Descripción invalida - la descripción debe de ser de min. 10 caracteres, max.
              30 caracteres</p>
            <p *ngIf="campoNoValido('empresaId')" class="text-danger">Empresa no seleccionada - Por favor seleccione una empresa</p>
          </div>
          <div class="d-grid gap-2">
            <button [disabled]="registerAreaForm.invalid" type="submit" name="" id="" class="btn btn-primary">Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
