<div class="row animate__animated animate__fadeIn">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="card-title">
          <h3>
            Editar Empleado
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="empleadoForm" (ngSubmit)="guardarEmpleado()">
          <div class="mb-3">

            <div class="mb-3">
              <label for="" class="form-label text-left">Nombre:</label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej: Jose Antonio Ramirez Salas"
                formControlName="nombre">
              <small id="" class="text-muted">Ingrese el nombre completo del usuario</small>
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Numero del Jefe Directo </label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej:73" aria-describedby="helpId"
                formControlName="numero_jefe">
              <small id="" class="text-muted">Ingrese el numero de usuario del jefe inmediato</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Estatus: </label>
              <input type="checkbox" name="" id="" class="form-check-input" aria-describedby="helpId"
              formControlName="status">
              <br>
            </div>
            <div class="mb-3">
              <select class="form-select" formControlName="departamentoId" name="" id="">
                <option disabled  value="">Tipo Permiso</option>
                <option [selected]="true"  [value]="empleado?.Departamento.id">{{empleado?.Departamento.nombre}}</option>
                <option *ngFor="let departamento of departamentos"[value]="departamento.id">{{departamento.nombre}}</option>

              </select>
              <small id="" class="text-muted">Ingrese un departamento</small>
            </div>


          </div>
          <div *ngIf="empleadoForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('nombre')" class="text-danger">Nombre del tipo no valido,  mín. 1 caracteres, máx. 30 caracteres</p>
            <p *ngIf="campoNoValido('numero_empleado')" class="text-danger">Numero de Empleado no valido, mín. 1 caracteres, máx. 8 caracteres</p>
            <p *ngIf="campoNoValido('numero_jefe')" class="text-danger">Numero de Jefe no valido, mín. 1 caracteres, máx. 8 caracteres</p>

          </div>
          <div class="d-grid gap-2">
            <button [disabled]="empleadoForm.invalid" type="submit" name="" id="" class="btn btn-primary">Guardar Cambios</button>
          </div>

        </form>
