<div class="row">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="card-title">
          <h3>
            Editar Usuario
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()">
          <div class="mb-3">

            <div class="mb-3">
              <label for="" class="form-label text-left">Nombre:</label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej: Jose Antonio Ramirez Salas"
                formControlName="nombre">
              <small id="" class="text-muted">Ingrese el nombre completo del usuario, minimo: 5 caracteres, maximo: 30 caracteres </small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Nombre de Usuario </label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej:Jose1304" aria-describedby="helpId"
                formControlName="usuario">
              <small id="" class="text-muted">Ingrese un usuario con el cual iniciar sesion,  minimo: 5 caracteres, maximo: 11 caracteres</small>
            </div>

            <div class="row">
              <div class="col-6">
                <!-- Button trigger modal contrasena -->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#passwordT">
                  <i class="bi bi-lock-fill"></i>
                  Cambiar contraseña
                </button>
              </div>
              <div class="col-6">
                <!-- Button trigger modal Permisos-->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#permisos">
                  <i class="bi bi-check-square"></i>
                  Cambiar Permisos
                </button>

              </div>
            </div>


          </div>
          <div *ngIf="usuarioForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValidoDatosUsuario('nombre')" class="text-danger">nombre invalido - El nombre debe de ser de min. 5 caracteres, máx. 30 caracteres</p>
            <p *ngIf="campoNoValidoDatosUsuario('usuario')" class="text-danger">usuario invalido - El nombre de usuario debe de ser de min. 5 caracteres, máx. 11 caracteres</p>

          </div>
          <!-- <div class="card-body">
            <p *ngIf="campoNoValido('usuario')" class="text-danger">Usuario No valido</p>
            <p *ngIf="contrasenasNoValidas()" class="text-danger">las contrasenas deben coincidir</p>
            <p *ngIf="contrasenasNoValidas()" class="text-danger">contrasenas invalidas</p>
          </div> -->
          <div class="d-grid gap-2">
            <button [disabled]="usuarioForm.invalid" type="submit" name="" id="" class="btn btn-primary">Guardar Cambios</button>
          </div>

        </form>
        <!-- MODAL PASSWORD -->
        <div class="">
          <div class="modal fade" id="passwordT" tabindex="-1" aria-labelledby="passwordTLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="passwordTLabel">Cambiar contraseña</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="registerUsuarioForm" [formGroup]="passwordForm" (ngSubmit)="guardarPassword()">
                    <div class="mb3">
                      <div class="mb-3">
                        <label for="" class="form-label">Nueva Contraseña </label>
                        <input type="password" name="" id="" class="form-control" placeholder=""
                          formControlName="password">
                        <small id="" class="text-muted">Ingrese una contraseña con un minimo de 5 digitos</small>
                      </div>
                      <div class="mb-3">
                        <label for="" class="form-label">Repetir Contraseña </label>
                        <input type="password" name="" id="" class="form-control" placeholder=""
                          aria-describedby="helpId" formControlName="password2">
                        <small id="" class="text-muted">Porfavor repetir contraseña</small>
                      </div>
                      <div class="mb-3">
                        <div class="card-body">
                          <p *ngIf="contrasenasNoValidas()" class="text-danger">las contrasenas deben coincidir</p>
                          <p *ngIf="campoNoValidoPassword('password2')" class="text-danger">contrasenas invalidas - La contraseña debe tener mínimo 5 caracteres</p>
                          <p *ngIf="campoNoValidoPassword('password1')" class="text-danger">contrasenas invalidas - La contraseña debe tener mínimo 5 caracteres</p>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button [disabled]="passwordForm.invalid" type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN MODAL PASSWORD-->
        <!-- MODAL PERMISOS -->
        <div class="">
          <div class="modal fade" id="permisos" tabindex="-1" aria-labelledby="permisosLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="permisosabel">Cambiar/Agregar Permisos de <span class="text-primary">{{usuario.nombre}}</span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="empresaSelect">
                    <div class="row mb-3">
                      <div class="col-12">
                        <select class="form-select" formControlName="empresa" name="" id="">
                          <option disabled [selected]="true" value="">Seleccione el Empresa</option>
                          <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa!.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </form>

                  <div class="mb-3">
                    <form  [formGroup]="permisosForm" (ngSubmit)="actualizarPermiso()">
                      <div class="row">
                        <div class="col-4">
                          <select class="form-select" formControlName="idArea" name="" id="">
                            <option disabled [selected]="true" value="">Seleccione el area</option>
                            <option *ngFor="let area of areas" [value]="area.id">{{area.nombre}}</option>
                          </select>
                        </div>
                        <div class="col-4">
                          <select class="form-select" formControlName="tipo" name="" id="">
                            <option disabled [selected]="true" value="">Tipo Permiso</option>
                            <option value="l">Lectura</option>
                            <option value="e">Escritura</option>
                          </select>
                        </div>
                        <div class="col-4">
                          <div class="d-grid gap-2">
                            <button [disabled]="this.permisosForm.get('idArea').value=='' || this.permisosForm.get('tipo').value==''" type="submit" name="" id="" class="btn btn-primary btn-block">
                             Agregar    <i class="bi bi-plus-circle"></i>
                            </button>
                            </div>


                        </div>
                      </div>


                    </form>

                  </div>
                <!-- TABLA PERMISOS -->

                <div class="mb3">
                  <div *ngIf="usuario.Areas.length<=0" class="justified">

                    <div class="col-12 card bg-light">

                      <p class="text-danger p-4">
                        No se encontraron permisos
                      </p>
                    </div>
                  </div>
                  <table *ngIf="areasUsuario.length>0" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Area</th>
                        <!-- <th scope="col">Empresa</th> -->
                        <th scope="col">Permiso</th>
                        <th scope="col">Herramientas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let area of areasUsuario">

                        <td>{{area.nombre}}</td>
                        <!-- <td>{{area.Empresas.nombre}}</td> -->
                        <td *ngIf="area.Permisos.tipo =='l'">Lectura</td>
                        <td *ngIf="area.Permisos.tipo =='e'">Escritura</td>
                        <td>
                          <button name="" id="" class="btn btn-danger" (click)="eliminarPermiso(area.Permisos.areaId)">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <!-- FIN TABLA PERMISOS -->
                <div class="modal-footer">
                  <button id="botonModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN MODAL PERMISOS-->
    </div>
  </div>
</div>
</div>
