 <div class="row animate__animated animate__fadeIn">
  <div class="col-12 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Registro de Empleados
        </div>
      </div>
      <div *ngIf="departamentos.length<=0" class="card-body">
        <div class="alert alert-danger" role="alert">
          No se encontraron departamentos registrados, por favor registre uno, antes de proceder a registra empleados, en este area
        </div>
      </div>
      <div *ngIf="departamentos.length>0" class="card-body">
        <form id="registerUsuarioForm" [formGroup]="registerEmpleadoForm" (ngSubmit)="createEmpleado()">
          <div class="mb-3">

            <div class="mb-3">
              <label for="" class="form-label">Nombre Empleado</label>
              <input type="text" name="" id="" class="form-control" placeholder="Ej: Jose Antonio Ramirez Salas"
                aria-describedby="helpId" formControlName="nombre">
              <small id="" class="text-muted">Ingrese el nombre completo del empleado</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Numero de Empleado</label>
              <input maxlength="8" type="text" name="" id="" class="form-control" placeholder="Ej:812" aria-describedby="helpId"
                formControlName="numero_empleado">
              <small id="" class="text-muted">Ingrese el numero del empleado</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Numero de Empleado de Jefe inmediato</label>
              <input maxlength="8" type="text" name="" id="" class="form-control" placeholder="Ej:201" aria-describedby="helpId"
                formControlName="numero_jefe">
              <small id="" class="text-muted">Ingrese el numero del empleado</small>
            </div>
            <div *ngIf="!empresaId" class="mb-3">
              <label for="" class="form-label">Empresa</label>
              <select class="form-select" name="" id="" formControlName="empresaId">
                <option value="">Seleccione Empresa</option>
                <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nombre}}</option>
              </select>
              <small id="" class="text-muted">Ingrese el numero del empleado</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Departamento</label>
              <select class="form-select" name="" id="" formControlName="departamentoId">
                <option value="">Seleccione El departamento</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}</option>
              </select>
              <small id="" class="text-muted">Ingrese el numero del empleado</small>
            </div>



          </div>
          <div *ngIf="registerEmpleadoForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido - min. 5 caracteres, máx. 30</p>
            <p *ngIf="campoNoValido('numero_empleado')" class="text-danger">Numero Empleado invalido - min. 1 carácter, máx. 8 caracteres</p>
            <p *ngIf="campoNoValido('numero_jefe')" class="text-danger">Numero Jefe invalido - min. 1 carácter, máx. 8 caracteres</p>
            <p *ngIf="campoNoValido('departamentoId')" class="text-danger">Departamento requerido</p>
            <div *ngIf="!empresaId">
              <p *ngIf="campoNoValido('empresaId')" class="text-danger">Empresa requerida</p>
            </div>

          </div>
          <div class="d-grid gap-2">
            <button [disabled]="registerEmpleadoForm.invalid" type="submit" name="" id="" class="btn btn-primary">Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
