<div class="row">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="card-title">
          <h3>
            Editar Empresa
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="editarempresaForm" (ngSubmit)="guardarEmpresa()">
          <div class="mb-3">
            <div class="mb-3">
              <label for="" class="form-label">Nombre de Empresa </label>
              <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej: Grupo Armas"
                    aria-describedby="helpId"
                    formControlName="nombre"
                >
                <small id="" class="text-muted" >minimo 10 carcateres, maximo 30, no espacios</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Descripcion </label>
              <input
                    type=""
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej:La Empresa Ejemplo se encarga de realizar..."
                    aria-describedby="helpId"
                    formControlName="descripcion"

                >
                <small id="" class="text-muted" >Ingrese una descripcion breve, minimo 5 caracteres, maximo 30 caracteres</small>
            </div>


          </div>
          <div class="card-body">
            <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido</p>
            <p *ngIf="campoNoValido('descripcion')" class="text-danger">descripcion invalida</p>

          </div>
          <!-- <div class="card-body">
            <p *ngIf="campoNoValido('usuario')" class="text-danger">Usuario No valido</p>
            <p *ngIf="contrasenasNoValidas()" class="text-danger">las contrasenas deben coincidir</p>
            <p *ngIf="contrasenasNoValidas()" class="text-danger">contrasenas invalidas</p>
          </div> -->
          <div class="d-grid gap-2">
            <button [disabled]="editarempresaForm.invalid" type="submit" name="" id="" class="btn btn-primary">Guardar Cambios</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
