<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
          <!-- Mobile Menu Toggle Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../../../assets/armas.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Grupo Armas
          </a>


          <!-- Menus List -->
          <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
                  <ul class="navbar-nav">

                      <li class="border"><a href="#"><i class="bi bi-house"></i> <span class="item-text">Inicio</span></a></li>
                      <li class="border"><a href="#"><i class="bi bi-pencil-square"></i> <span class="item-text">Expedintes</span></a></li>
                      <li class="border"><a routerLink='crear-usuario' routerLinkActive="router-link-active" ><i class="bi bi-people"></i> <span class="item-text">Registar Usuarios</span></a></li>

                  </ul>
            </div>
          </div>

          <div class="btn-group">
              <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">

                  <span class="usericon"><i class="bi bi-person-circle"></i></span>
                  <span class="textnone">Usuario_1</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">


                  <li><button class="dropdown-item" type="button"><i class="bi bi-gear-wide-connected"></i> Configuracion</button></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i> Cerrar sesion</button></li>
              </ul>
          </div>

      </div>
  </nav>
</div>
