<div class="row">
  <div class="col-12 mx-auto text-center mb-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h5>Busqueda</h5>
        </div>
      </div>
      <form>
        <div class="m-5">
          <input
          type="text"
          class="form-control"
          id="busqueda"
          aria-describedby="emailHelp"
          (keyup)="buscar(termino.value)"
          #termino
          >


        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mx-auto text-center">
    <div class="card">
      <div class="card-title p-4">
        <div class="card-title start">
          <h5>Areas de {{this.empresa.nombre}}</h5>
          <p>Seleccione la area a la cual desee accesar</p>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Herramientas</th>
              </tr>
            </thead>
            <tbody class="text-left">
              <tr *ngFor="let area of areas; index as i">
                <th scope="row">{{i+1}}</th>
                <th scope="row">{{area.id}}</th>
                <td>{{area.nombre}}</td>

                <td>
                  <a [routerLink]="['/dashboard/empresas', empresa.id,area.id]" name="" id="" class="btn btn-success" role="button">
                    <i class="bi bi-arrow-right-square"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
