<div class="row">
  <div class="col-8 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <div class="card-title">
          <h3>
            Editar Departamento
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form id="registerUsuarioForm" [formGroup]="editarDepartamentoForm" (ngSubmit)="guardarDepartamento()">
          <div class="mb-3">
            <div class="mb-3">
              <label for="" class="form-label">Nombre de Departamento </label>
              <input
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej: Grupo Armas"
                    aria-describedby="helpId"
                    formControlName="nombre"
                >
                <small id="" class="text-muted" >minimo 5 carcateres, maximo 30.</small>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Descripcion </label>
              <input
                    type=""
                    name=""
                    id=""
                    class="form-control"
                    placeholder="Ej:La Departamento Ejemplo se encarga de realizar..."
                    aria-describedby="helpId"
                    formControlName="descripcion"

                >
                <small id="" class="text-muted" >Ingrese una descripcion breve,minimo 10 caracteres, maximo 30 caracteres</small>
            </div>


          </div>
          <div *ngIf="editarDepartamentoForm.invalid" class="card-body alert alert-danger">
            <p *ngIf="campoNoValido('nombre')" class="text-danger">nombre invalido - min. 5 caracteres, max. 30 caracteres</p>
            <p *ngIf="campoNoValido('descripcion')" class="text-danger">descripción invalida min. 10 caracteres, max. 30 caracteres</p>

          </div>

          <div class="d-grid gap-2">
            <button [disabled]="editarDepartamentoForm.invalid" type="submit" name="" id="" class="btn btn-primary">Guardar Cambios</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
