<div class="row">
  <div class="col-12 mx-auto text-center mb-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h5>Busqueda</h5>
        </div>
      </div>
      <form  [formGroup]="departamentoBusquedaSelect">
        <div class="m-5">
          <input
          type="text"
          class="form-control"
          id="busqueda"
          aria-describedby="emailHelp"
          (keyup)="buscar(termino.value)"
          formControlName="termino"
          #termino
          >



        </div>
        <div class="m-5">
          <select class="form-select" name="" id="" formControlName="departamentoId">
            <option [selected]="true" value="nodep">Sin departamento</option>
            <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}</option>
          </select>
          <small id="" class="text-muted">Seleccione el departamento que desee</small>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mx-auto text-center">
    <div class="card">
      <div class="card-title p-4">
        <div class="card-title">
          <h5>Empleados {{empresa.nombre}} - Area {{area.nombre}}</h5>

        </div>

        <div class="col">
          <div class="text-start">
            <a name="" id="" class="btn btn-dark" [routerLink]="['/dashboard/',empresaId, 'areas-select']" role="button">
              <i class="bi bi-arrow-left-circle"></i> Volver
            </a>
          </div>
          <div class="text-end">
            <a name="" id="" class="btn btn-success m-2" [routerLink]="['/dashboard/',empresaId,areaId, 'crear-empleado']" role="button">
              <i class="bi bi-person-plus"></i>  Añadir Empleado
            </a>
            <a name="" id="" class="btn btn-success m-2" [routerLink]="['/dashboard/',empresaId,areaId, 'crear-empleado']" role="button">
              <i class="bi bi-briefcase"></i>  Añadir Departamento
            </a>
            <a name="" id="" class="btn btn-success m-2" [routerLink]="['/dashboard/',empresaId,areaId,'expedientes','crear-tipo']" role="button">
              <i class="bi bi-archive"></i>  Añadir Tipo Expediente
            </a>
          </div>
        </div>
        <hr>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Numero Empleado</th>
                <th scope="col">Jefe Directo</th>
                <th scope="col">Estatus</th>
                <th scope="col">Departamento</th>
                <th scope="col">Editar</th>
                <th scope="col">Expediente</th>
                <th scope="col">
                  Documentacion obligatoria <br>
                  <select name="" class="form-select" id="">
                    <option value="">Mostrar Todas</option>
                    <option *ngFor="let item of tiposExpedientesObligatorios" value="">{{item.tipo}}</option>
                  </select>
                </th>
              </tr>
            </thead>
            <tbody class="text-left">
              <tr *ngFor="let empleado of empleados; index as i">

                <td>{{empleado.nombre}}</td>
                <td>{{empleado.numero_empleado}}</td>
                <td>{{empleado.numero_jefe}}</td>
                <td *ngIf="empleado.status"> <span class="badge bg-success">Activo</span></td>
                <td *ngIf="!empleado.status"> <span class="badge bg-secondary">Baja</span></td>


                <td>{{empleado.Departamento.nombre}}</td>
                <td>
                  <a style="margin-right: .5rem;" [routerLink]="['/dashboard/',empleado.Empresa.id,areaId, empleado.id,'editar-empleado']" name="" id="" class="btn btn-primary" role="button">
                    <i class="bi bi-pencil align-middle"></i>
                  </a>
                </td>
                <td>
                  <a [routerLink]="['/dashboard/',empleado.Empresa.id,areaId, empleado.id,'expediente']" name="" id="" class="btn btn-primary" role="button">
                    <i class="bi bi-file-earmark"></i>
                  </a>
                </td>
                <td>



                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th *ngFor="let tipoOb of tiposExpedientesObligatorios" scope="col">
                            {{tipoOb.tipo|slice:0:10}}
                            <br>
                            <span *ngIf="entregado(tipoOb.id_tipo, empleado.Expedientes)" class="badge bg-success">
                              Entregado
                            </span>
                            <span *ngIf="!entregado(tipoOb.id_tipo, empleado.Expedientes)" class="badge bg-secondary">
                              Sin Entregar
                            </span>
                          </th>
                        </tr>
                      </thead>



                    </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
