<div class="row animate__animated animate__fadeIn">


  <div class="col-12 mx-auto text-center">

    <!-- HErramientas Globales -->
    <div class="card">
      <div class="card-title p-4">
        <div class="card-title mb-3 ">

          <h5>Empleados {{empresa.nombre}} - Area {{area.nombre}}</h5>

        </div>
        <hr>
        <div class="col">

        </div>
        <div class="text-end">
          <a name="" id="" class="btn btn-success m-2" [routerLink]="['/dashboard/',empresaId,areaId, 'crear-empleado']"
            role="button">
            <i class="bi bi-person-plus"></i> Añadir Empleado
          </a>
          <a name="" id="" class="btn btn-success m-2"
            [routerLink]="['/dashboard/',empresaId,areaId, 'agregar-departamento']" role="button">
            <i class="bi bi-briefcase"></i> Añadir Departamento
          </a>
          <a name="" id="" class="btn btn-success m-2"
            [routerLink]="['/dashboard/',empresaId,areaId,'expedientes','crear-tipo']" role="button">
            <i class="bi bi-archive"></i> Añadir Tipo Expediente
          </a>
        </div>
      </div>

    </div>

    <div class="col-12 mx-auto text-center m-2">
      <div *ngIf="tabSelected=='empleados'" class="card">
        <form [formGroup]="departamentoBusquedaSelect">
          <div class="m-5">
            <label for="busqueda" class="form-label">Termino de Busqueda</label>
            <input type="text" class="form-control" id="busqueda" aria-describedby="emailHelp"
              (keyup)="buscar(termino.value)" formControlName="termino" #termino>



          </div>
          <div class="m-5">
            <label for="depSelect" class="form-label">Seleccione el departamento</label>
            <select class="form-select" name="" id="depSelect" formControlName="departamentoId">
              <option [selected]="true" value="nodep">Sin departamento</option>
              <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}
              </option>
            </select>
            <small id="" class="text-muted">Seleccione el departamento que desee</small>
          </div>
        </form>
      </div>
    </div>




    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

       <li class="nav-item" role="presentation">
        <a class="nav-link pointer" style="color: black;" [class.active]="tabSelected=='empleados'" (click)="changeTab('empleados')"
          data-target="#empleados" aria-controls="photos" role="tab" target="_self" data-toggle="tab">Empleados</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link pointer" [class.active]="tabSelected=='departamentos'" (click)="changeTab('departamentos')"
            data-target="#departamentos" aria-controls="photos" role="tab" target="_self"
            data-toggle="tab">Departamento</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link pointer" [class.active]="tabSelected=='tipos-expedientes'"
            (click)="changeTab('tipos-expedientes')" data-target="#tipos-expedientes" aria-controls="a" role="tab"
            target="_self" data-toggle="tab">Tipos Expedientes</a>
        </li>

    </ul>

    <!-- EMPLEADOS -->

    <div *ngIf="tabSelected=='empleados'" class="card animate__animated animate__fadeIn" style="margin-top: 1rem;">

      <div *ngIf="empleados.length<=0" class="alert alert-secondary">
        No existen empleados con los parametros ingresados
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Nombre</th>
              <th scope="col">Numero Empleado</th>
              <th scope="col">Jefe Directo</th>
              <th scope="col">Estatus</th>
              <th scope="col">Departamento</th>
              <th scope="col">Editar</th>
              <th scope="col">Expediente</th>
              <th *ngIf="tiposExpedientesObligatorios.length>0" scope="col">
                Documentacion obligatoria <br>

              </th>
            </tr>
          </thead>
          <tbody class="text-left">
            <tr *ngFor="let empleado of empleados; index as i">

              <td>{{empleado.nombre}}</td>
              <td>{{empleado.numero_empleado}}</td>
              <td>{{empleado.numero_jefe}}</td>
              <td *ngIf="empleado.status"> <span class="badge bg-success">Activo</span></td>
              <td *ngIf="!empleado.status"> <span class="badge bg-secondary">Baja</span></td>


              <td>{{empleado.Departamento.nombre}}</td>
              <td>
                <a style="margin-right: .5rem;"
                  [routerLink]="['/dashboard/',empleado.Empresa.id,areaId, empleado.id,'editar-empleado']" name="" id=""
                  class="btn btn-primary" role="button">
                  <i class="bi bi-pencil align-middle"></i>
                </a>
              </td>
              <td>
                <a [routerLink]="['/dashboard/',empleado.Empresa.id,areaId, empleado.id,'expediente']" name="" id=""
                  class="btn btn-primary" role="button">
                  <i class="bi bi-file-earmark"></i>
                </a>
              </td>
              <td>



                <table *ngIf="tiposExpedientesObligatorios.length>0" class="table table-bordered">
                  <thead>
                    <tr>
                      <th *ngFor="let tipoOb of tiposExpedientesObligatorios" scope="col">
                        {{tipoOb.tipo|slice:0:10}}
                        <br>
                        <span *ngIf="entregado(tipoOb.id_tipo, empleado.Expedientes)" class="badge bg-success">
                          Entregado
                        </span>
                        <span *ngIf="!entregado(tipoOb.id_tipo, empleado.Expedientes)" class="badge bg-secondary">
                          Sin Entregar
                        </span>
                      </th>
                    </tr>
                  </thead>



                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- EMPLEADOS -->
    <!-- DEPARTAMENTOS -->
    <div *ngIf="tabSelected=='departamentos'" class="card animate__animated animate__fadeIn" style="margin-top: 1rem;">

      <div *ngIf="empleados.length<=0" class="alert alert-secondary">
        No existen empleados con los parametros ingresados
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Nombre</th>
              <th scope="col">descripcion</th>

              <th scope="col">Editar</th>

            </tr>
          </thead>
          <tbody class="text-left">
            <tr *ngFor="let departamento of departamentos; index as i">

              <td>{{departamento.nombre}}</td>
              <td>{{departamento.descripcion}}</td>


              <td>
                <a [routerLink]="['/dashboard/',departamento.empresaId,areaId, departamento.id,'editar-departamento']"
                  name="" id="" class="btn btn-primary" role="button">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- DEPARTAMENTOS -->
    <!-- TIPOS EXPEDIENTES -->
    <div *ngIf="tabSelected=='tipos-expedientes'" class="card animate__animated animate__fadeIn" style="margin-top: 1rem;">

      <div *ngIf="tiposExpedientesArea.length<=0" class="alert alert-secondary">
        No existen tipos de expedientes con los parametros ingresados
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>


              <th scope="col">Tipo</th>
              <th scope="col">descripcion</th>
              <th scope="col">obligatorio</th>
              <th scope="col">actualizo</th>
              <th scope="col">Editar</th>

            </tr>
          </thead>
          <tbody class="text-left">
            <tr *ngFor="let tipoExp of tiposExpedientesArea; index as i">


              <td>{{tipoExp.tipo}}</td>
              <td>{{tipoExp.descripcion}}</td>
              <td *ngIf="tipoExp.obligatorio">Si</td>
              <td *ngIf="!tipoExp.obligatorio">No</td>
              <td>{{tipoExp.actualizo}}</td>




              <td>
                <a [routerLink]="['/dashboard/',empresaId,areaId, tipoExp.id_tipo,'editar-departamento']" name="" id=""
                  class="btn btn-primary" role="button">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- TIPOS EXPEDIENTES -->

  </div>
</div>
