<div class="row">
  <div class="col-12 mx-auto text-center mb-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h5>Busqueda</h5>
        </div>
      </div>
      <form  [formGroup]="departamentoBusquedaSelect">
        <div class="m-5">
          <input
          type="text"
          class="form-control"
          id="busqueda"
          aria-describedby="emailHelp"
          (keyup)="buscar(termino.value)"
          #termino
          >



        </div>
        <div class="m-5">
          <select class="form-select" name="" id="" formControlName="empresaId">
            <option value="">Seleccione Empresa</option>
            <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}</option>
          </select>
          <small id="" class="text-muted">Ingrese el numero del empleado</small>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 mx-auto text-center">
    <div class="card">
      <div class="card-title p-4">
        <div class="card-title">
          <h5>Empleados {{empresa.nombre}} - Area {{area.nombre}}</h5>

        </div>

        <div class="col">
          <div class="text-start">
            <a name="" id="" class="btn btn-dark" [routerLink]="['/dashboard/',empresaId, 'areas-select']" role="button">
              <i class="bi bi-arrow-left-circle"></i> Volver
            </a>
          </div>
          <div class="text-end">
            <a name="" id="" class="btn btn-success" [routerLink]="['/dashboard/',empresaId,areaId, 'crear-empleado']" role="button">
              <i class="bi bi-person-plus"></i>  Añadir Empleado
            </a>
          </div>
        </div>
        <hr>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Numero Empleado</th>
                <th scope="col">Jefe Directo</th>
                <th scope="col">Estatus</th>
                <th scope="col">Departamento</th>

                <th scope="col">Herramientas</th>
              </tr>
            </thead>
            <tbody class="text-left">
              <tr *ngFor="let empleado of empleados; index as i">
                <th scope="row">{{i+1}}</th>
                <th scope="row">{{empleado.id}}</th>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.numero_empleado}}</td>
                <td>{{empleado.numero_jefe}}</td>
                <td *ngIf="empleado.status"> <span class="badge bg-success">Activo</span></td>
                <td *ngIf="!empleado.status"> <span class="badge bg-secondary">Baja</span></td>


                <td>{{empleado.Departamento.nombre}}</td>
                <td>
                  <a [routerLink]="['/dashboard/',empleado.Empresa.id,areaId, empleado.id,'editar-empleado']" name="" id="" class="btn btn-primary" role="button">
                    <i class="bi bi-pencil align-middle"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
